@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@font-face{
	font-family: Misologist;
	src: url('../webfonts/Misologist-rgV6x.ttf');	
}
@font-face{
	font-family: Milkade;
	src: url('../webfonts/Milkade-Italic-BF65432d2f12855.otf');	
}
@font-face{
	font-family: behind-scene;
	src: url('../webfonts/Behind\ The\ Scenery\ by\ 7NTypes.otf');	
}
@font-face{
	font-family: merriweather;
	src: url('../webfonts/merriweather/Merriweather-Bold.ttf');	
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: merriweather, cursive, sans;
	scroll-behavior: smooth;
}
h1{
	font-size: 2.5rem;
	font-weight: 700;
}
h2{
	font-size: 2.2rem;
	font-weight: 600;
}
h3{
	font-size: 2rem;
	font-weight: 500;
}
h4{
	font-size: 1.7rem;
	font-weight: 500;
}
h5{
	font-size: 1.3rem;
	font-weight: 500;
}
h6{
	font-size: 1.2rem;
	font-weight: 500;
}
p{
	font-size: 1rem;
	font-weight: 400;
}
a{
	text-decoration: none;
	color: inherit;
	font-size: 1.1rem;
	font-weight: 400;
}
ul{	
	list-style-type: none;
}
.fa{
	fill: none;
}
.details{
	text-transform: capitalize;
}
.sections{
	text-align: center;
	margin: 2% 8%;
	padding-top: 70px;
}
.title{
	font-family: behind-scene;
	margin-bottom: 40px;
}
#banner h3,#banner h1,#intruders h3,#intruders h1{
	font-family: misologist;
}
/* Home Page */

/* Header */
#bannner{
	background-image: url('../images/banner/home2.jpg');
	background-repeat: no-repeat;
	background-size:100%;
}
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0.5rem 2rem #5e5d5d4a;
	background: #DAE2B633;
	z-index: 5;
}
header img{
	width: 3rem;
	height: 3rem;
}
header nav ul,header section{
	padding: 0 1rem 0 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
header nav ul li{
	padding: 1rem 1.5rem;
}
header nav ul li:hover{
	transition: 0.3s;
	color: #C8FFE0;
}
header section p,header section span,header nav ul li a{
	font-family: behind-scene;
}
header section p{
	font-size: 1.3rem;
	font-weight: 500;
	color: #fff;
}
header section span{
	color: #C8FFE0;
	padding: 0.1rem;
}

/* Banner */
#banner{
	height: 88vh;
	display: flex;
	justify-content: left;
} 
#banner section{
	width: 100%;
	background: #DAE2B633 100%;
}

#banner section section,#intruers section{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding-left: 3%;
	height: 100%;
}
#banner section section{
	margin-left: 10%;
	background: transparent;
}
#banner h3{
	color:#C8FFE0;
	font-size: 2.5rem;
	padding: 10px 0;
}
#banner h1{
	font-size: 5rem;
	width: 100%;
	padding: 15px 0;
	color: #e4ce06;
}
#banner p{
	font-size: 1.2rem;
	width: 50%;
}
#banner p,#intruders p{
	color: #fff;
	padding: 18px 0;
}

/* New Arrivals */
.grid-4 .products{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-content: center;
	gap: 20px;
}
.grid-4 .products .product .pro{
	position: relative;
	background-color: #dddada55;
	border-radius: 10px;
	height: 300px;
}
.grid-4 .products .product .empty{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transition: 0.3s ease;
	border-radius: 10px;
	background-color: #00000022;
}
.grid-4 .products .product .pro:hover .empty{
	transform: scale(1);
}
.grid-4 .products .product .pro:hover img{
	transform: scale(1.3);
}
.grid-4 .products .product img{
	margin-top: 65px;
	margin-bottom: 95px;
	transform: scale(1);
	transition: 0.3s ease;
}
.grid-4 .products .product .details{
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 10px;
	background-color: #2a2a2abf;
	color: #fff;
	border-radius: 0 0 10px 10px;
	visibility: hidden;
	bottom: -20px;
}
.grid-4 .products .product  .pro:hover .details{
	visibility: visible;
	transition: 0.3s ease;
	bottom: 0;
}
.grid-4 .products .product .details p{
	cursor: pointer;
}
.grid-4 .products .product .details span{
	padding-left: 50px;
}
.grid-4 .products .product .name h5{
	margin: 20px;
	font-weight: 600;
	color: #4c4848f2;
}
.grid-4 .products .product .name h5:hover{
	color: #e99c2e;
}
.grid-4 .products .product .name p{
	margin-bottom: 20px;
	font-weight: 500;
	color: #5c5454f2;
}

/*Intruders*/
#intruders{
	position: relative;
	height: 88vh;
	color: #fff;
	background-color: #dddadaeb;
	background-image: url('../images/collection/table-banner.jpg');
	background-repeat: no-repeat;
	background-size: 130% 100%;
	display: flex;
	justify-content: left;
	margin-bottom: 70px;
}
#intruders section{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding-left: 3%;
	width: 60%;
	background: #0f0f5c85 70%;
}
#intruders h1{
	color: #e4ce06;
	padding: 10px 0;
}
#intruders p{
	width: 70%;
}

/*Featured Products*/
#featured .products .product img{
	margin: 0;
	z-index: -3;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}
#featured .products .product:hover img{
	transform: scale(1);
}

/*Contact Us*/
#contact #flex{
	display: grid;
	grid-template-columns: repeat(2,1fr);
}
#contact #flex form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 450px;
}
#contact #flex form input,#contact #flex form textarea{
	width: 90%;
	margin: 20px;
	border-radius: 0 10px;
	border: 1px solid lightgrey;
	font-size: 20px;
	padding: 10px;
	transition: 0.3s ease;
}
#contact #flex form input:focus,#contact #flex form textarea:focus{
	border-color: #e99c2e;
	border-radius: 10px 0;
}
#contact #flex form button{
	padding: 15px 40px;
	font-weight: 600;
	background-color: #e99c2e;
	color: #fff;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}
#contact #flex iframe{
	width: 100%;
	height: 450px;
}
/* Footer */
footer{
	text-align: center;
	background-color: #dddadaeb;
	color: #504747b8;
	padding: 20px 0;
}
footer ul li{
	display: inline-block;
	padding: 5px 15px;
}
footer p{
	font-weight: 600;
}

